* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.flex-rows {
  flex-direction: row;
}

#itinerary {
  width: 200px;
  height: 200px;
  z-index: 1;
}

#map{
  position: absolute;
  width: 100%;
  height: auto;
}

#navbar {

  background-color: blue;
}
